# Node
node_modules/
.npm
*.log

# Environment variables (secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build
.next/
out/
build/
dist/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
